In [2]:
import pandas as pd
import requests
import json # Importa el módulo 'json'

In [4]:
import pandas as pd
import requests
import json # Importa el módulo 'json'

def obtener_datos(series_id, site_code):
    """
    Realiza una petición a la API y devuelve un DataFrame.
    """
    url = f"https://alerta.ina.gob.ar/pub/datos/datos&timeStart=2025-09-18&timeEnd=2025-09-20&seriesId={series_id}&siteCode={site_code}&varId=2&format=csv"
    
    try:
        # Lee el CSV directamente desde la URL.
        df = pd.read_csv(url, comment='#', sep=',', header=None)
        df.columns = ['obs_id', 'timestart', 'timeend', 'valor', 'timeupdate']
        
        # Agrega las columnas adicionales
        df['seriesId'] = series_id
        df['siteCode'] = site_code
        
        return df
    
    except Exception as e:
        print(f"Error al obtener datos para seriesId {series_id}: {e}")
        return pd.DataFrame() # Devuelve un DataFrame vacío en caso de error

# Leer el archivo JSON de forma síncrona con Python
try:
    with open("alturasHidrometricas.json", 'r', encoding='utf-8') as file:
        alturas_json = json.load(file)
except FileNotFoundError:
    print("Error: El archivo 'alturasHidrometricas.json' no se encontró.")
    alturas_json = []

lista_de_dataframes = []

for item in alturas_json:
    df_temporal = obtener_datos(item['seriesid'], item['sitecode'])
    lista_de_dataframes.append(df_temporal)

# Concatena todos los DataFrames en uno solo
df_final = pd.concat(lista_de_dataframes, ignore_index=True)

# Muestra las primeras 5 filas del DataFrame final
print(df_final.head())

# Opcional: Guarda el DataFrame final en un solo archivo CSV
df_final.to_csv("datos_finales.csv", index=False)

Error al obtener datos para seriesId 55: No columns to parse from file
Error al obtener datos para seriesId 151: No columns to parse from file
Error al obtener datos para seriesId 3279: No columns to parse from file
Error al obtener datos para seriesId 3280: 'utf-8' codec can't decode byte 0xf3 in position 695: invalid continuation byte
Error al obtener datos para seriesId 3309: 'utf-8' codec can't decode byte 0xe1 in position 759: invalid continuation byte
Error al obtener datos para seriesId 3312: 'utf-8' codec can't decode byte 0xe1 in position 388: invalid continuation byte
Error al obtener datos para seriesId 3314: 'utf-8' codec can't decode byte 0xe1 in position 417: invalid continuation byte
Error al obtener datos para seriesId 3345: 'utf-8' codec can't decode byte 0xf3 in position 560: invalid continuation byte
Error al obtener datos para seriesId 3347: 'utf-8' codec can't decode byte 0xf3 in position 334: invalid continuation byte
Error al obtener datos para seriesId 6060: 'utf-8' codec can't decode byte 0xe1 in position 338: invalid continuation byte
Error al obtener datos para seriesId 6061: 'utf-8' codec can't decode byte 0xe1 in position 614: invalid continuation byte
Error al obtener datos para seriesId 6062: 'utf-8' codec can't decode byte 0xe1 in position 490: invalid continuation byte
Error al obtener datos para seriesId 6063: 'utf-8' codec can't decode byte 0xe1 in position 354: invalid continuation byte
Error al obtener datos para seriesId 6064: 'utf-8' codec can't decode byte 0xe1 in position 587: invalid continuation byte
Error al obtener datos para seriesId 6065: 'utf-8' codec can't decode byte 0xe1 in position 315: invalid continuation byte
Error al obtener datos para seriesId 6066: 'utf-8' codec can't decode byte 0xe1 in position 275: invalid continuation byte
Error al obtener datos para seriesId 6067: 'utf-8' codec can't decode byte 0xe1 in position 428: invalid continuation byte
Error al obtener datos para seriesId 6068: 'utf-8' codec can't decode byte 0xe1 in position 338: invalid continuation byte
Error al obtener datos para seriesId 6069: 'utf-8' codec can't decode byte 0xe1 in position 477: invalid continuation byte
Error al obtener datos para seriesId 6070: 'utf-8' codec can't decode byte 0xe1 in position 232: invalid continuation byte
Error al obtener datos para seriesId 6071: 'utf-8' codec can't decode byte 0xe1 in position 550: invalid continuation byte
Error al obtener datos para seriesId 6866: No columns to parse from file
Error al obtener datos para seriesId 33357: No columns to parse from file
        obs_id            timestart              timeend  valor  \
0  25671322243  2025-09-18 00:00:00  2025-09-18 00:00:00   0.66
1  25678429536  2025-09-19 00:00:00  2025-09-19 00:00:00   0.46
2  25671322611  2025-09-18 00:00:00  2025-09-18 00:00:00   8.60
3  25678429676  2025-09-19 00:00:00  2025-09-19 00:00:00   8.40
4  25671322635  2025-09-18 00:00:00  2025-09-18 00:00:00   9.20

                   timeupdate  seriesId  siteCode
0  2025-09-18 18:01:45.740123         8         8
1  2025-09-19 12:01:56.589385         8         8
2  2025-09-18 18:01:46.129692         9         9
3  2025-09-19 12:01:56.830545         9         9
4  2025-09-18 18:01:46.298099        10        10

In [4]:
df_nuevito = pd.read_csv("datos_finales.csv")
df_nuevito

,obs_id,timestart,timeend,valor,timeupdate,seriesId,siteCode
0,25671322243,2025-09-18 00:00:00,2025-09-18 00:00:00,0.66,2025-09-18 18:01:45.740123,8,8
1,25678429536,2025-09-19 00:00:00,2025-09-19 00:00:00,0.46,2025-09-19 12:01:56.589385,8,8
2,25671322611,2025-09-18 00:00:00,2025-09-18 00:00:00,8.60,2025-09-18 18:01:46.129692,9,9
3,25678429676,2025-09-19 00:00:00,2025-09-19 00:00:00,8.40,2025-09-19 12:01:56.830545,9,9
4,25671322635,2025-09-18 00:00:00,2025-09-18 00:00:00,9.20,2025-09-18 18:01:46.298099,10,10
...,...,...,...,...,...,...,...
10329,25675266304,2025-09-19 00:00:00,2025-09-19 00:00:00,1.48,2025-09-19 04:01:46.98231,37594,7392
10330,25676460271,2025-09-19 04:00:00,2025-09-19 04:00:00,1.45,2025-09-19 07:01:50.255738,37594,7392
10331,25677641323,2025-09-19 08:00:00,2025-09-19 08:00:00,1.42,2025-09-19 10:01:48.955388,37594,7392
10332,25679618659,2025-09-19 12:00:00,2025-09-19 12:00:00,1.40,2025-09-19 15:01:48.669583,37594,7392
10333,25681597313,2025-09-19 16:00:00,2025-09-19 16:00:00,1.44,2025-09-19 20:01:44.577117,37594,7392

,obs_id,timestart,timeend,valor,timeupdate,seriesId,siteCode
5376,25671311633,2025-09-18 00:00:00,2025-09-18 00:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5377,25671311634,2025-09-18 01:00:00,2025-09-18 01:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5378,25671311635,2025-09-18 02:00:00,2025-09-18 02:00:00,1.11,2025-09-18 18:01:26.723569,37597,6622
5379,25671311636,2025-09-18 03:00:00,2025-09-18 03:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5380,25671311637,2025-09-18 04:00:00,2025-09-18 04:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5381,25671311638,2025-09-18 05:00:00,2025-09-18 05:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5382,25671311639,2025-09-18 06:00:00,2025-09-18 06:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5383,25671311640,2025-09-18 07:00:00,2025-09-18 07:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5384,25671311641,2025-09-18 08:00:00,2025-09-18 08:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5385,25671311642,2025-09-18 09:00:00,2025-09-18 09:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5386,25671311643,2025-09-18 10:00:00,2025-09-18 10:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5387,25671311644,2025-09-18 11:00:00,2025-09-18 11:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5388,25671311645,2025-09-18 12:00:00,2025-09-18 12:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5389,25671311646,2025-09-18 13:00:00,2025-09-18 13:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5390,25671311647,2025-09-18 14:00:00,2025-09-18 14:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5391,25671311648,2025-09-18 15:00:00,2025-09-18 15:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5392,25671311649,2025-09-18 16:00:00,2025-09-18 16:00:00,1.12,2025-09-18 18:01:26.723569,37597,6622
5393,25671705470,2025-09-18 17:00:00,2025-09-18 17:00:00,1.12,2025-09-18 19:01:22.525877,37597,6622
5394,25672097961,2025-09-18 18:00:00,2025-09-18 18:00:00,1.12,2025-09-18 20:01:20.360452,37597,6622
5395,25672489958,2025-09-18 19:00:00,2025-09-18 19:00:00,1.11,2025-09-18 21:01:28.392486,37597,6622
5396,25672881975,2025-09-18 20:00:00,2025-09-18 20:00:00,1.12,2025-09-18 22:01:26.892733,37597,6622
5397,25673274696,2025-09-18 21:00:00,2025-09-18 21:00:00,1.12,2025-09-18 23:01:22.790749,37597,6622
5398,25673677673,2025-09-18 22:00:00,2025-09-18 22:00:00,1.12,2025-09-19 00:01:31.372049,37597,6622
5399,25674073605,2025-09-18 23:00:00,2025-09-18 23:00:00,1.12,2025-09-19 01:01:25.200852,37597,6622
5400,25674073606,2025-09-19 00:00:00,2025-09-19 00:00:00,1.12,2025-09-19 01:01:25.200852,37597,6622
5401,25675255216,2025-09-19 01:00:00,2025-09-19 01:00:00,1.12,2025-09-19 04:01:27.979256,37597,6622
5402,25675255217,2025-09-19 02:00:00,2025-09-19 02:00:00,1.12,2025-09-19 04:01:27.979256,37597,6622
5403,25675648747,2025-09-19 03:00:00,2025-09-19 03:00:00,1.12,2025-09-19 05:01:31.567735,37597,6622
5404,25676052743,2025-09-19 04:00:00,2025-09-19 04:00:00,1.12,2025-09-19 06:01:31.072316,37597,6622
5405,25676449116,2025-09-19 05:00:00,2025-09-19 05:00:00,1.12,2025-09-19 07:01:30.926025,37597,6622
5406,25676843484,2025-09-19 06:00:00,2025-09-19 06:00:00,1.12,2025-09-19 08:01:25.34895,37597,6622
5407,25678428497,2025-09-19 07:00:00,2025-09-19 07:00:00,1.12,2025-09-19 12:01:54.443274,37597,6622
5408,25678428498,2025-09-19 08:00:00,2025-09-19 08:00:00,1.12,2025-09-19 12:01:54.443274,37597,6622
5409,25678428499,2025-09-19 09:00:00,2025-09-19 09:00:00,1.12,2025-09-19 12:01:54.443274,37597,6622
5410,25678428500,2025-09-19 10:00:00,2025-09-19 10:00:00,1.12,2025-09-19 12:01:54.443274,37597,6622
5411,25679214454,2025-09-19 11:00:00,2025-09-19 11:00:00,1.12,2025-09-19 14:01:21.046648,37597,6622
5412,25679214455,2025-09-19 12:00:00,2025-09-19 12:00:00,1.13,2025-09-19 14:01:21.046648,37597,6622
5413,25679607641,2025-09-19 13:00:00,2025-09-19 13:00:00,1.13,2025-09-19 15:01:29.09957,37597,6622
5414,25680000952,2025-09-19 14:00:00,2025-09-19 14:00:00,1.12,2025-09-19 16:01:25.492864,37597,6622
5415,25680393655,2025-09-19 15:00:00,2025-09-19 15:00:00,1.12,2025-09-19 17:01:25.488967,37597,6622
5416,25680796889,2025-09-19 16:00:00,2025-09-19 16:00:00,1.12,2025-09-19 18:01:28.840459,37597,6622
5417,25681192802,2025-09-19 17:00:00,2025-09-19 17:00:00,1.12,2025-09-19 19:01:26.44231,37597,6622
5418,25681586327,2025-09-19 18:00:00,2025-09-19 18:00:00,1.12,2025-09-19 20:01:25.587782,37597,6622