In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("registros_rio_6746.csv")
#modificando las columns del df:
df["date"] = pd.to_datetime(df["date"])

df = df.sort_values(by="date")
df = df.drop(columns=['es_null', 'year'])

df['altura_7_dias'] = df['altura_value'].shift(periods=-7)
df = df.iloc[:1001].copy() #elimino las ultimas 7 ya que tienen datos del futuro
df

,date,rio_id,lat,lon,altura_value,precipitaciones_value,altura_7_dias
0,2023-01-02,6746-2123,-36.397778,-67.140278,-0.06,0.0,-0.06
1,2023-01-03,6746-2123,-36.397778,-67.140278,-0.06,0.0,-0.06
2,2023-01-04,6746-2123,-36.397778,-67.140278,-0.06,0.0,-0.06
3,2023-01-05,6746-2123,-36.397778,-67.140278,-0.06,0.1,-0.06
4,2023-01-06,6746-2123,-36.397778,-67.140278,-0.06,0.1,-0.06
...,...,...,...,...,...,...,...
996,2025-09-24,6746-2123,-36.397778,-67.140278,0.84,0.0,0.75
997,2025-09-25,6746-2123,-36.397778,-67.140278,0.81,0.0,0.78
998,2025-09-26,6746-2123,-36.397778,-67.140278,0.77,4.9,0.81
999,2025-09-27,6746-2123,-36.397778,-67.140278,0.77,0.0,0.83
1000,2025-09-28,6746-2123,-36.397778,-67.140278,0.77,0.0,0.81

date                     2025-09-29 00:00:00
rio_id                             6746-2123
lat                               -36.397778
lon                               -67.140278
altura_value                            0.76
precipitaciones_value                    0.0
altura_7_dias                            NaN
Name: 1001, dtype: object