In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("153_rios_utiles.csv", index_col=0)
df.head()

,date,rio_id,lat,lon,altura_value,precipitaciones_value
0,2023-01-01,10-10,-25.916679,-54.621134,7.166667,0.0
1,2023-01-02,10-10,-25.916679,-54.621134,7.150000,38.5
2,2023-01-03,10-10,-25.916679,-54.621134,7.340000,22.3
3,2023-01-04,10-10,-25.916679,-54.621134,7.360000,1.3
4,2023-01-05,10-10,-25.916679,-54.621134,7.760000,0.0

In [20]:
df["rio_id"].unique()

array(['10-10', '11-11', '12-12', '13-13', '14-14', '15-15', '16-16',
       '17-17', '18-18', '19-19', '20-20', '21-21', '22-22', '23-23',
       '24-24', '25-25', '26-26', '27-27', '28-28', '29-29', '29438-5894',
       '30-30', '31-31', '31940-6406', '31981-6426', '32-32',
       '32008-6421', '32023-6461', '32024-6459', '32025-2846',
       '32027-6423', '32299-6447', '32305-6480', '32597-6380',
       '32598-6391', '32645-6429', '32656-6428', '32666-6430',
       '32704-6540', '32711-6544', '32742-6427', '32851-6548',
       '32862-6516', '32868-6439', '33-33', '33022-6481', '33061-6659',
       '33062-6582', '33116-6456', '33124-6479', '33216-6664',
       '33231-6615', '33259-6422', '33400-6706', '33427-6652',
       '33433-6382', '33461-6457', '33502-6535', '33675-6383',
       '33676-6386', '33839-6388', '33882-6505', '33886-6519',
       '33974-6555', '34-34', '34035-6449', '34087-6651', '34115-6698',
       '34145-6595', '35-35', '36-36', '37-37', '38-38', '39-39', '40-40',
       '41-41', '42-42', '43-43', '44-44', '45-45', '46-46', '48-48',
       '49-49', '50-50', '51-51', '53-53', '54-54', '57-57', '58-58',
       '60-60', '61-61', '63-63', '65-65', '66-66', '6692-2147',
       '6695-2184', '6697-2188', '6718-2196', '6732-2149', '6744-2221',
       '6756-2199', '6778-2165', '6785-2122', '6794-2178', '68-68',
       '6804-2223', '6806-2198', '6811-2213', '6829-2204', '6840-2183',
       '6845-2136', '6865-2175', '6874-2160', '6876-2180', '6897-2150',
       '69-69', '6903-2151', '6918-2194', '6924-2181', '6950-2133',
       '70-70', '71-71', '72-72', '73-73', '7355-2355', '74-74', '75-75',
       '77-77', '78-78', '79-79', '8-8', '80-80', '81-81', '8230-2607',
       '8233-2608', '8242-2606', '8312-2671', '8314-2672', '84-84',
       '86-86', '9-9', '9197-2824', '9494-2844', '9542-2813', '9549-2809',
       '99-99', '6746-2123', '6800-2197', '6807-2158', '6929-2135',
       '6952-2137', '9192-2732', '9410-2823'], dtype=object)