In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data_with_climate_fecha_first.csv")
df

,fecha,Provincia,Code Provincia,Departamento,Code Departamento,lat,lon,hayRioCercano,distanciaRio,codeRio,tipoDeSuelo,estacion,surface_runoff_sum,temperature_2m,total_evaporation_sum,total_precipitation_sum,volumetric_soil_water_layer_1
0,2014-06-23,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,0.005083,291.455905,-0.001149,0.04184,0.467691
1,2014-06-24,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
2,2014-06-25,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
3,2014-06-26,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
4,2014-06-27,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48106,1969-12-31,Buenos Aires,6,Bahia Blanca,6056,-38.683875,-62.215956,False,48.75,34120-6732,Molisoles,verano,NaN,NaN,NaN,NaN,NaN
48107,1970-01-01,Buenos Aires,6,Bahia Blanca,6056,-38.683875,-62.215956,False,48.75,34120-6732,Molisoles,verano,NaN,NaN,NaN,NaN,NaN
48108,1970-01-02,Buenos Aires,6,Bahia Blanca,6056,-38.683875,-62.215956,False,48.75,34120-6732,Molisoles,verano,NaN,NaN,NaN,NaN,NaN
48109,1970-01-03,Buenos Aires,6,Bahia Blanca,6056,-38.683875,-62.215956,False,48.75,34120-6732,Molisoles,verano,NaN,NaN,NaN,NaN,NaN
48110,1970-01-04,Buenos Aires,6,Bahia Blanca,6056,-38.683875,-62.215956,False,48.75,34120-6732,Molisoles,verano,NaN,NaN,NaN,NaN,NaN

In [7]:
df["fecha"] = pd.to_datetime(df["fecha"])
df = df[df["fecha"] >= "1990-01-01"]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19999 entries, 0 to 19998
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   fecha                          19999 non-null  datetime64[ns]
 1   Provincia                      19999 non-null  object
 2   Code Provincia                 19999 non-null  int64
 3   Departamento                   19999 non-null  object
 4   Code Departamento              19999 non-null  int64
 5   lat                            19999 non-null  float64
 6   lon                            19999 non-null  float64
 7   hayRioCercano                  19999 non-null  bool
 8   distanciaRio                   19999 non-null  float64
 9   codeRio                        19999 non-null  object
 10  tipoDeSuelo                    19999 non-null  object
 11  estacion                       19999 non-null  object
 12  surface_runoff_sum             2730 non-null   float64
 13  temperature_2m                 2730 non-null   float64
 14  total_evaporation_sum          2730 non-null   float64
 15  total_precipitation_sum        2730 non-null   float64
 16  volumetric_soil_water_layer_1  2730 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(8), int64(2), object(5)
memory usage: 2.6+ MB