In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data_with_climate_fecha_first.csv")
df.head(8)

,fecha,Provincia,Code Provincia,Departamento,Code Departamento,lat,lon,hayRioCercano,distanciaRio,codeRio,tipoDeSuelo,estacion,surface_runoff_sum,temperature_2m,total_evaporation_sum,total_precipitation_sum,volumetric_soil_water_layer_1
0,2014-06-23,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,0.005083,291.455905,-0.001149,0.04184,0.467691
1,2014-06-24,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
2,2014-06-25,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
3,2014-06-26,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
4,2014-06-27,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
5,2014-06-28,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
6,2014-06-29,Misiones,54,Capital,54028,-27.476595,-55.921700,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
7,2014-02-03,Buenos Aires,6,Berisso,6098,-34.845876,-57.879733,True,0.70,3314-1708,Miscelaneas,verano,NaN,NaN,NaN,NaN,NaN