In [4]:
import pandas as pd
from pathlib import Path

repo_root = Path('.')
input_path = repo_root / 'proyecto_lu' / 'data_with_climate.csv'
output_path = repo_root / 'proyecto_lu' / 'data_with_climate_fecha_first.csv'
backup_path = repo_root / 'proyecto_lu' / 'data_with_climate_before_fecha_first.csv'

print('Input:', input_path)
print('Output:', output_path)
print('Backup:', backup_path)

Input: proyecto_lu\data_with_climate.csv
Output: proyecto_lu\data_with_climate_fecha_first.csv
Backup: proyecto_lu\data_with_climate_before_fecha_first.csv

## Cargar CSV y mostrar columnas actuales

In [5]:
df = pd.read_csv("data_with_climate.csv", dtype=str)
print('Shape:', df.shape)
print('Columns before:')
print(df.columns.tolist())
df.head(3)

Shape: (48111, 18)
Columns before:
['Date (YMD)', 'Provincia', 'Code Provincia', 'Departamento', 'Code Departamento', 'lat', 'lon', 'hayRioCercano', 'distanciaRio', 'codeRio', 'tipoDeSuelo', 'estacion', 'fecha', 'surface_runoff_sum', 'temperature_2m', 'total_evaporation_sum', 'total_precipitation_sum', 'volumetric_soil_water_layer_1']

,Date (YMD),Provincia,Code Provincia,Departamento,Code Departamento,lat,lon,hayRioCercano,distanciaRio,codeRio,tipoDeSuelo,estacion,fecha,surface_runoff_sum,temperature_2m,total_evaporation_sum,total_precipitation_sum,volumetric_soil_water_layer_1
0,29/6/2014,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,2014-06-23,0.0050834715366363525,291.45590527852374,-0.0011485274881124496,0.04183991253376007,0.46769078572591144
1,29/6/2014,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,2014-06-24,NaN,NaN,NaN,NaN,NaN
2,29/6/2014,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,2014-06-25,NaN,NaN,NaN,NaN,NaN

## Condición: `data_mersh_copy.py` usa la primera fecha de `fechas` para las requests
Hemos verificado en `proyecto_lu/data_mersh_copy.py` que `primera_fecha = fechas[0]` y que esa fecha se usa en `get_climate_values(...)`. Por tanto aplicaremos la transformación solicitada.

## Eliminar `Date (YMD)` y mover `fecha` al primer lugar

In [6]:
# Guardar backup del CSV original por seguridad
df.to_csv(backup_path, index=False)
print('Backup guardado en', backup_path)

# Si existe la columna 'Date (YMD)' la eliminamos
if 'Date (YMD)' in df.columns:
    df = df.drop(columns=['Date (YMD)'])
    print(
)
else:
    print(
)

# Asegurarnos que 'fecha' existe
if 'fecha' not in df.columns:
    raise KeyError(
)

# Reordenar columnas para poner 'fecha' primero
cols = df.columns.tolist()
cols.remove('fecha')
new_order = ['fecha'] + cols
df = df[new_order]
print('Columns after:')
print(df.columns.tolist())

# Guardar resultado
df.to_csv(output_path, index=False)
print('Archivo guardado en', output_path)

Backup guardado en proyecto_lu\data_with_climate_before_fecha_first.csv

Columns after:
['fecha', 'Provincia', 'Code Provincia', 'Departamento', 'Code Departamento', 'lat', 'lon', 'hayRioCercano', 'distanciaRio', 'codeRio', 'tipoDeSuelo', 'estacion', 'surface_runoff_sum', 'temperature_2m', 'total_evaporation_sum', 'total_precipitation_sum', 'volumetric_soil_water_layer_1']
Archivo guardado en proyecto_lu\data_with_climate_fecha_first.csv
Archivo guardado en proyecto_lu\data_with_climate_fecha_first.csv

## Comprobación rápida
Mostramos las primeras filas y confirmamos que `fecha` está en la primera columna.

In [7]:
df2 = pd.read_csv(output_path, dtype=str)
print('New shape:', df2.shape)
print('New columns:', df2.columns.tolist())
df2.head(5)

New shape: (48111, 17)
New columns: ['fecha', 'Provincia', 'Code Provincia', 'Departamento', 'Code Departamento', 'lat', 'lon', 'hayRioCercano', 'distanciaRio', 'codeRio', 'tipoDeSuelo', 'estacion', 'surface_runoff_sum', 'temperature_2m', 'total_evaporation_sum', 'total_precipitation_sum', 'volumetric_soil_water_layer_1']

,fecha,Provincia,Code Provincia,Departamento,Code Departamento,lat,lon,hayRioCercano,distanciaRio,codeRio,tipoDeSuelo,estacion,surface_runoff_sum,temperature_2m,total_evaporation_sum,total_precipitation_sum,volumetric_soil_water_layer_1
0,2014-06-23,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,0.0050834715366363525,291.45590527852374,-0.0011485274881124496,0.04183991253376007,0.46769078572591144
1,2014-06-24,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
2,2014-06-25,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
3,2014-06-26,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN
4,2014-06-27,Misiones,54,Capital,54028,-27.47659493,-55.92169961,True,8.07,14-14,Alfisoles,invierno,NaN,NaN,NaN,NaN,NaN